.main-title{
    display:flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title{
    display: flex;
    justify-content: center;
}

.background{
    background-color: black;
    color: white
}

.tabs{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 10px;
}

.button{
    display: flex;
    /* align-items: center; */
    /* justify-content: right; */
    margin-right: 20px;
}

a,a:visited{
    color: white;
    text-decoration: none;
}

a:hover{
    color: lightgray;
}